# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [2]:
# you must populate this dict with the schools required -> try talking to the teaching team about this

schools = {
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'app-academy' : 10525,
'general-assembly':10761,
'designlab':10697,
'springboard' : 11035,
'le-wagon':10868,
'shecodes':11014,
'udacity':11118,
'hackwagon-academy':10792,
'nucamp':10923,
'thinkful':11098,
'coding-dojo':10659,
'makers-academy': 10874,
'software-development-academy': 11030,
'product-gym': 10959,
'simplilearn':11016
}

import re
import pandas as pd
from pandas import json_normalize
import requests

#aux function to apply regex and remove tags
def remove_tags(x):
    TAG_RE = re.compile(r'<[^>]+>')
    return TAG_RE.sub('',x)

def get_comments_school(school):
    print(school)
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [3]:
# could you write this as a list comprehension? ;)
comments = [get_comments_school(school) for school in schools.keys()]

comments = pd.concat(comments).reset_index()

# adding school id
comments["school_id"] = [schools[school_name] for school_name in comments["school"]]

# changing certain variable datatypes

comments = comments.astype({"overallScore": "float","overall": "float","jobSupport": "float"})

ironhack
app-academy
springboard
general-assembly
designlab
le-wagon
shecodes
udacity
hackwagon-academy
nucamp
thinkful
coding-dojo
makers-academy
software-development-academy
product-gym
simplilearn

In [4]:
pd.set_option('display.max_columns', None)
comments.head()

,index,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school,school_id
0,0,300130,Michiel van der merwe,False,None,2023.0,False,Data engineer,Awesome,"<span class=""truncatable""><p></p><p>Pros Lots ...",<p>Pros Lots and lots of help and useful infor...,4/11/2023,2023-04-11,Cybersecurity Part-Time,{'image': None},4.3,[],4.0,5.0,4.0,Pros Lots and lots of help and useful informat...,ironhack,10828
1,1,300057,Anonymous,True,None,2022.0,False,,"Good classes, really bad ""career service""","<span class=""truncatable""><p></p><p>The classe...","<p>The classes were phenomenal, in my case my ...",4/8/2023,2023-04-08,Web Development Bootcamp,{'image': None},2.0,[],1.0,4.0,1.0,"The classes were phenomenal, in my case my pro...",ironhack,10828
2,2,299681,Buse Dilara Kilinc,False,None,2022.0,False,Ux Designer,Boost to my career,"<span class=""truncatable""><p></p><p>I joined t...",<p>I joined this program in order to apply for...,3/29/2023,2023-03-29,UX/UI Design Bootcamp,{'image': None},4.7,[],5.0,5.0,4.0,I joined this program in order to apply for UX...,ironhack,10828
3,3,299425,Jose Daniel De Luis Ramirez,False,None,2023.0,False,Software Engineer,A good inversion,"<span class=""truncatable""><p></p><p>This boot ...",<p>This boot camp was the point of being a web...,3/22/2023,2023-03-22,Web Development Bootcamp,{'image': None},4.0,[],4.0,4.0,4.0,This boot camp was the point of being a web de...,ironhack,10828
4,4,299312,Anonymous,True,None,2023.0,False,,Amazing and life changing,"<span class=""truncatable""><p></p><p>I joined t...",<p>I joined this course to gain more knowledge...,3/18/2023,2023-03-18,Web Development Bootcamp,{'image': None},4.0,[],4.0,4.0,4.0,I joined this course to gain more knowledge an...,ironhack,10828

In [5]:
from pandas import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id
        
    if "description" in school_df.columns:
        school_df["description"] = school_df["description"].apply(remove_tags)
    if "description" in badges_df.columns:
        badges_df["description"] = badges_df["description"].apply(remove_tags)

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack
app-academy
springboard
general-assembly
designlab
le-wagon
shecodes
udacity
hackwagon-academy
nucamp
thinkful
coding-dojo
makers-academy
software-development-academy
product-gym
simplilearn

In [6]:
locations = pd.concat(locations_list).reset_index()
locations.rename(columns = {'country.id':'country_id',
                            'country.name':'country_name',
                            'country.abbrev':'country_abbrev',
                            'city.id':'city_id',
                            'city.name':'city_name',
                            'city.keyword':'city_keyword',
                            'state.id':'state_id',
                            'state.name':'state_name',
                            'state.abbrev':'state_abbrev',
                            'state.keyword':'state_keyword',
                           }, inplace = True)

locations.head()

,index,id,description,country_id,country_name,country_abbrev,city_id,city_name,city_keyword,state_id,state_name,state_abbrev,state_keyword,school,school_id
0,0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828

In [10]:
courses = pd.concat(courses_list)

#Remove duplicates from Software Development Academy

def clean_course_names(row):
    if row["school"] == "software-development-academy":
        return row["courses"].split(" - ")[0].replace("JavaScript","Javascript")
    else:
        return row["courses"]

courses['courses'] = courses.apply(clean_course_names,axis=1)

courses = courses.drop_duplicates(subset=['courses']).reset_index()

courses.head()

   index                   courses    school  school_id
0      0   Cyber Security Bootcamp  ironhack      10828
1      1   Cybersecurity Part-Time  ironhack      10828
2      2   Data Analytics Bootcamp  ironhack      10828
3      3  Data Analytics Part-Time  ironhack      10828
4      4     UX/UI Design Bootcamp  ironhack      10828

In [11]:
badges = pd.concat(badges_list).reset_index()
badges.head()

,index,name,keyword,description,school,school_id
0,0,Available Online,available_online,School offers fully online courses,ironhack,10828
1,1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,ironhack,10828
2,2,Flexible Classes,flexible_classes,School offers part-time and evening classes,ironhack,10828
3,0,Available Online,available_online,School offers fully online courses,app-academy,10525
4,1,Flexible Classes,flexible_classes,School offers part-time and evening classes,app-academy,10525

In [12]:
# any data cleaning still missing here? take a look at the description

schools = pd.concat(schools_list).reset_index()
schools.head()

,index,website,description,LogoUrl,school,school_id
0,0,www.ironhack.com/en,Ironhack is a global tech school with 9 campus...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
1,0,appacademy.io,"Founded in 2012, App Academy is a world-renown...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
2,0,www.springboard.com/?utm_source=switchup&utm_m...,Springboard is an online learning platform tha...,https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
3,0,generalassemb.ly?utm_source=switchup&utm_mediu...,General Assembly is creating a global communit...,https://d92mrp7hetgfk.cloudfront.net/images/si...,general-assembly,10761
4,0,designlab.com,Designlab teaches in-demand UX/UI design skill...,https://d92mrp7hetgfk.cloudfront.net/images/si...,designlab,10697

In [13]:
import mysql.connector # establish connect to sql from python
import getpass

password = getpass.getpass()

········

In [14]:
cnx = mysql.connector.connect(user = "root",
                             password = password,
                             host = "localhost")
# check if the connection was successful

print(cnx.is_connected())

# we need to define the object that we will use to interact with SQL

cursor = cnx.cursor()

# create the database

query = ("""CREATE DATABASE IF NOT EXISTS coding_schools""")
cursor.execute(query)

# create sqlalchemy engine

from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=password,
                               db="coding_schools"))

True

In [15]:
# validating tables

table_validation_dict={'comments':["id","school_id","name","graduatingYear","isAlumni","jobTitle","tagline","createdAt","queryDate","program","overallScore","overall","curriculum","jobSupport"],
                  'courses':["school_id","courses"], 
                  'locations':["id","school_id","description","country_id","country_name","country_abbrev","city_id", "city_name", "city_keyword"], 
                  'badges':["school_id","name","keyword","description"], 
                  'schools':["school_id","school","website"]
                 }

def table_validation(dict_tables):
    for column in dict_tables['comments']:
        if column not in comments.columns:
            raise Exception("Required data is missing from the extraction")
    for column in dict_tables['courses']:
        if column not in courses.columns:
            raise Exception("Required data is missing from the extraction")
    for column in dict_tables['locations']:
        if column not in locations.columns:
            raise Exception("Required data is missing from the extraction")
    for column in dict_tables['badges']:
        if column not in badges.columns:
            raise Exception("Required data is missing from the extraction")
    for column in dict_tables['schools']:
        if column not in schools.columns:
            raise Exception("Required data is missing from the extraction")
    return "Data is valid"
    
print(table_validation(table_validation_dict))
    
# creating tables to import

comments_to_import = comments[table_validation_dict["comments"]]
courses_to_import = courses[table_validation_dict["courses"]]
locations_to_import = locations[table_validation_dict["locations"]]
badges_to_import = badges[table_validation_dict["badges"]]
schools_to_import = schools[table_validation_dict["schools"]]

# importing tables to database

comments_to_import.to_sql('comments', con = engine, if_exists = 'replace', index= False)
courses_to_import.to_sql('courses', con = engine, if_exists = 'replace', index= False)
locations_to_import.to_sql('locations', con = engine, if_exists = 'replace', index= False)
badges_to_import.to_sql('badges', con = engine, if_exists = 'replace', index=False)
schools_to_import.to_sql('schools', con = engine, if_exists = 'replace', index= False)

Data is valid

16

In [16]:
# assigning primary keys and foreign keys

primary_keys={"schools":"school_id",
              "comments":"id",
              "locations":"id"
             }

for table,pk in primary_keys.items():
    query = ("ALTER TABLE coding_schools."+table+"""
            ADD PRIMARY KEY ("""+pk+");")
    cursor.execute(query)

# assigning foreign keys

foreign_keys={"comments":"school_id|schools(school_id)",
              "locations":"school_id|schools(school_id)",
              "courses":"school_id|schools(school_id)",
              "badges":"school_id|schools(school_id)"
             }

for table,fk in foreign_keys.items():
    query = ("ALTER TABLE coding_schools."+table+"""
            ADD FOREIGN KEY ("""+fk.split("|")[0]+") REFERENCES "+fk.split("|")[1]+";")
    cursor.execute(query)